
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

 <!-- page content -->
<div class="right_col" role="main" style="min-height: 949px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Chào mừng bạn đến với trang quản trị <br><small><b>Khách sạn Victory</b></small></h3>
            </div>
            @*<div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>*@
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
<!-- /page content -->

