
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gdlr-header-substitute"></div>
<div class="gdlr-page-title-wrapper" style="background-image: url('/Images/gk_central_hotel_02.jpg'); ">
    <div class="gdlr-page-title-overlay"></div>
    <div class="gdlr-page-title-container container">
        <h1 class="gdlr-page-title">QUY ĐỊNH</h1>
    </div>
</div>
<!-- is search -->
<div class="content-wrapper">
    <div class="gdlr-content">
        <!-- Above Sidebar Section-->
        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
            <section id="content-section-1">
                <div class="section-container container">
                    <div class="gdlr-item gdlr-content-item">
                        <h3><span style="color: #993300;">QUY ĐỊNH NHẬN, TRẢ PHÒNG & ĐẶT PHÒNG, HỦY PHÒNG</span></h3>
                        <h4><span style="color: #993300;">QUY ĐỊNH NHẬN VÀ TRẢ PHÒNG</span></h4>
                        <p style="text-align: justify;">Giờ nhận phòng        : sau 14 giờ chiều.</p>
                        <p style="text-align: justify;">Giờ trả phòng            : trước12 giờ trưa.</p>
                        <p style="text-align: justify;">Tính thêm 100% tiền phòng đối với các trường hợp nhận phòng sớm trước 06h00 (06 a.m) hoặc trả phòng muộn sau 18h00 (06 p.m)</p>
                        <p style="text-align: justify;">Tính thêm 50% tiền phòng với trường hợp trả phòng muộn từ 15h00 đến 18h00.Tính thêm 30% tiền phòng với trường hợp trả phòng muộn sau 12 giờ đến trước 15h00.</p>
                    </div>
                    <div class="clear"></div><div class="clear"> </div>
                    <div class="gdlr-item gdlr-content-item">
                        <h4><span style="color: #993300;">QUY ĐỊNH ĐẶT VÀ HỦY PHÒNG</span></h4>
                        <p style="text-align: justify;"><span style="color: #993300;"><strong>Đặt phòng:</strong></span></p>
                        <p style="text-align: justify;">Khách hàng thông báo trước kế hoạch khách đến cho Victory Hotel theo từng đợt, từng tháng, từng quý bằng Fax hoặc Email để Victory Hotel có kế hoạch giữ phòng cho khách.</p>
                        <p style="text-align: justify;">Khách hàng phải thông báo cụ thể về các thông tin liên quan đến đoàn khách cho khách hàng như sau:</p>
                        <ul>
                            <li style="text-align: justify;">Tên đoàn, mã đoàn, họ và tên khách, ngày tháng năm sinh, quốc tịch, số hộ chiếu, xuất nhập cảnh, CMND </li>
                            <li style="text-align: justify;">Thời gian khách đến nhận phòng và thời gian khách trả phòng tại khách sạn.</li>
                            <li style="text-align: justify;">Số lượng phòng và loại phòng, tiêu chuẩn ăn (nếu có).</li>
                            <li style="text-align: justify;">Các yêu cầu khác (nếu có)</li>
                        </ul>
                        <p style="text-align: justify;">Sau khi nhận được yêu cầu đặt phòng hay dịch vụ của khách hàng, Victory Hotel phải chuẩn bị đầy đủ các điều kiện cần thiết để phục vụ khách được tốt nhất theo đúng như trên yêu cầu của Khách hàng.</p>
                        <p style="text-align: justify;">Thời hạn chuyển khoảng đặt cọc hạn chót là 24h cuối ngày khi hoàn tất đặt phòng. Khách hàng sẽ nhận được email về số tài khoản chuyển khoảng và số tiền cần chuyển khi đặt phòng. Khi nhận được đúng số tiền chuyển khoảng thì nhân viên sẽ gửi email xác nhận hoàn tất đặt phòng cho khách hàng. Số tiền phải đặt cọc 20%  tiền phòng dự tính. Khách hàng có thể trả trước 100% tiền, sau khi thanh toán thì số dư hay tiền dịch vụ, tiền phát sinh sẽ được hệ thống tính lại, nếu có dư thì khách sạn sẽ hoàn lại phần tiền dư cho khách hàng.</p>
                        <p style="text-align: justify;"><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;"><strong><em>Lưu ý</em></strong>:</span></span> Số tiền cọc sẽ không được hoàn lại nếu khách hàng trả phòng trước thời hạn đăng ký. Trong trường hợp nếu khách hàng muốn tiếp tục thuê sau khi hết hạn đăng ký thì phải thông báo cho nhân viên khách sạn biết để điều chỉnh lịch cho phù hợp.</p>
                        <p style="text-align: justify;">Victory Hotel có quyền hủy tất cả các phòng đã đặt nếu Victory Hotel không nhận được khoản đặt cọc tương ứng với 20% tổng giá trị tiền phòng trong thời hạn đặt cọc đã đề ra ở trên. Victory Hotel sẽ sẽ không hoàn trả lại tiền đặt cọc với mọi hình thức, trừ trường hợp thiên tai, bão lụt, hạn hán hay đã được thỏa thuận của Victory Hotel.</p>
                    </div>
                    <div class="clear"></div><div class="clear">
                    </div>
                    <div class="gdlr-item gdlr-content-item">
                        <h4><span style="color: #993300;">ĐIỀU CHỈNH VÀ HỦY PHÒNG</span></h4>
                        <p style="text-align: justify;">Trước ngày đến hay ngày sử dụng dịch vụ trong đặt phòng nhưng Khách hàng báo hủy hay không đến, không sử dụng dịch vụ của khách sạn,  khách sạn sẽ tính 100% tiền phòng cho đêm đầu tiên và dịch vụ khác nếu có.</p>
                        <p style="text-align: justify;">Khách hàng phải thông báo cho Victory Hotel bằng Fax hay email về việc thay đổi hay hủy liên quan đến đặt phòng hay dịch vụ hợp lệ.  </p>
                    </div><div class="clear"></div>
                    <div class="gdlr-item gdlr-content-item">
                        <h4><span style="color: #993300;">HỦY ĐẶT PHÒNG HAY DỊCH VỤ</span></h4>
                        <p style="text-align: justify;">Các trường hợp điều chỉnh hay hủy khác victory Hotel sẽ tính 100% tiền phòng cho đêm đầu tiên và dịch vụ khác nếu có.</p>
                        <p style="text-align: justify;">Victory Hotel có toàn quyền sử dụng số lượng phòng mà khách hàng đã huỷ. Khách sạn không hoàn trả tiền phòng cho bất kỳ trường hợp nào mà thời gian khách ở ngắn hơn so với thời gian đã đặt.</p>
                    </div><div class="clear"></div>
                </div>
            </section>
        </div>
        <!-- Below Sidebar Section-->
    </div><!-- gdlr-content -->
    <div class="clear"></div>
</div><!-- content wrapper -->
