
/*--dd--*/
.dd-btn-46{width:46% !important;}
.dd-btn-93{width:93.5% !important;}
.dd-btn-width-100{width:100%;}
.dd-combobox-style{height: 40px; width: 100%; background-color: #f5f5f5; color: #828282; }
.dd-text-danger{color:red;list-style-type:none;text-align:center;}
.dd-text-danger>ul{list-style-type:none;padding-left: 0;}
.dd-text-danger>ul>li{color:red;list-style-type:none;text-align:center;}
.dd-gdlr-item1{ margin: 20px 15px 20px !important; min-height: 1px !important; border-color:#e5e5e5;}
.dd-width-logo{width:100% !important;}
