
@{
    ViewBag.Title = "Header";
}

<header class="gdlr-header-wrapper">
    <!-- top navigation -->
    <div class="top-navigation-wrapper">
        <div class="top-navigation-container container">
            <div class="top-navigation-left">
                <div class="top-navigation-left-text">
                    141 Nam Kỳ Khởi Nghĩa, Quận 3, TP. Hồ Chí Minh, Việt Nam
                </div>
            </div>
            <div class="top-navigation-right">
                <div class="top-social-wrapper">
                    <div>
                        <a href="#"><img alt="English" title="English " src="~/Images/english.png"></a><a href="#"><img alt="Vietnam" title="Vietnam" src="~/Images/Vietnam.png"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="top-navigation-divider"></div>

    <!-- logo -->
    <div class="gdlr-header-inner">
        <div class="gdlr-header-container container">
            <!-- logo -->
            <div class="gdlr-logo">
                <div class="gdlr-logo-inner">
                    <a href="/Home/Index">
                        <img src="~/Images/Logo1.png" alt="" width="155" height="100">
                    </a>
                    <div class="gdlr-responsive-navigation dl-menuwrapper" id="gdlr-responsive-navigation">
                        <button class="dl-trigger">Open Menu</button><ul id="menu-main-menu" class="dl-menu gdlr-main-mobile-menu">
                            <li id="menu-item-4153" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3720 current_page_item menu-item-4153"><a href="/Home/Index">TRANG CHỦ</a></li>
                            <li id="menu-item-4059" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4059"><a href="/GioiThieu/GioiThieu">GIỚI THIỆU</a></li>
                            <li id="menu-item-4505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4505">
                                <a href="/LoaiPhong/Index">LOẠI PHÒNG</a>
                                <ul class="dl-submenu">
                                    <li class="dl-back"><a href="#">back</a></li>
                                    <li class="menu-item gdlr-parent-menu"><a href="/LoaiPhong/Index">LOẠI PHÒNG</a></li>
                                    <li id="menu-item-4370" class="menu-item menu-item-type-post_type menu-item-object-room menu-item-4370"><a href="#">Phòng Signature</a></li>
                                    <li id="menu-item-4372" class="menu-item menu-item-type-post_type menu-item-object-room menu-item-4372"><a href="#">Phòng Premier Deluxe</a></li>
                                    <li id="menu-item-4373" class="menu-item menu-item-type-post_type menu-item-object-room menu-item-4373"><a href="#">Phòng Deluxe</a></li>
                                    <li id="menu-item-4371" class="menu-item menu-item-type-post_type menu-item-object-room menu-item-4371"><a href="#">Phòng Superior</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-4403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4403"><a href="/DatPhong/B1">ĐẶT PHÒNG</a></li>
                            <li id="menu-item-4314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4314"><a href="/LienHe/LienHe">LIÊN HỆ</a></li>
                            <li id="menu-item-4315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4315"><a href="/QuyDinh/Index">QUY ĐỊNH</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- navigation -->
            <div class="gdlr-navigation-wrapper">
                <nav class="gdlr-navigation sf-js-enabled sf-arrows" id="gdlr-main-navigation" role="navigation">
                    <ul id="menu-main-menu-1" class="sf-menu gdlr-main-menu">
                        @*current-menu-item current_page_item*@
                        <li data-id="0" class="0 menu-item menu-item-type-post_type menu-item-object-page page_item page-item-3720 menu-item-4153menu-item menu-item-type-post_type menu-item-object-page menu-item-4153 gdlr-normal-menu"><a href="/Home/Index">TRANG CHỦ</a></li>
                        <li data-id="1" class="1 menu-item menu-item-type-post_type menu-item-object-page menu-item-4059menu-item menu-item-type-post_type menu-item-object-page menu-item-4059 gdlr-normal-menu"><a href="/GioiThieu/GioiThieu">GIỚI THIỆU</a></li>
                        <li data-id="2" class="2 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4505menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4505 gdlr-normal-menu">
                            <a href="/LoaiPhong/Index" class="sf-with-ul-pre sf-with-ul">LOẠI PHÒNG</a>
                            @*<ul class="sub-menu" style="display: none;">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-room menu-item-4370"><a href="#">Phòng Signature</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-room menu-item-4372"><a href="#">Phòng Premier Deluxe</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-room menu-item-4373"><a href="#">Phòng Deluxe</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-room menu-item-4371"><a href="#">Phòng Superior</a></li>
                                </ul>*@
                        </li>
                        <li data-id="3" class="3 menu-item menu-item-type-custom menu-item-object-custom menu-item-4403menu-item menu-item-type-custom menu-item-object-custom menu-item-4403 gdlr-normal-menu"><a href="/DatPhong/B1">ĐẶT PHÒNG</a></li>
                        <li data-id="4" class="4 menu-item menu-item-type-post_type menu-item-object-page menu-item-4314menu-item menu-item-type-post_type menu-item-object-page menu-item-4314 gdlr-normal-menu"><a href="/LienHe/LienHe">LIÊN HỆ</a></li>
                        <li data-id="5" class="4 menu-item menu-item-type-post_type menu-item-object-page menu-item-4314menu-item menu-item-type-post_type menu-item-object-page menu-item-4314 gdlr-normal-menu"><a href="/QuyDinh/Index">QUY ĐỊNH</a></li>
                    </ul>
                    <a id="menu-select" data-menu-select="@TempData["Select-Menu-Item"]" style="visibility:hidden"></a>
                </nav>
                <span class="gdlr-menu-search-button-sep">•</span>
                <i class="fa fa-search icon-search gdlr-menu-search-button" id="gdlr-menu-search-button"></i>
                <div class="gdlr-menu-search" id="gdlr-menu-search">
                    <form method="post" id="searchform" action="/LoaiPhong/Search">
                        <div class="search-text">
                            @*<input type="text" value="Type Keywords" name="s" autocomplete="off" data-default="Type Keywords">*@
                            @Html.TextBox("Keywords", null, new { @class = "form-control", placeholder = "Keywords", @autocomplete = "off" })
                        </div>
                        <input type="submit" value="">
                        <div class="clear"></div>
                    </form>
                </div>
                <div class="gdlr-navigation-gimmick" id="gdlr-navigation-gimmick" style="width: 0px; left: 0px; top: 169px; overflow: hidden;"></div><div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
  