
@{
    ViewBag.Title = "NotificationAuthorize";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
 <!-- page content -->
<div class="right_col" role="main" style="min-height: 949px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Bạn không có quyền vào chức năng này.</h3>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


