@{
    ViewBag.Title = "DatPhong_Buoc3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gdlr-page-title-wrapper" style="background-image: url('/Images/gk_central_hotel_01.jpg'); ">
    <div class="gdlr-page-title-overlay"></div>
    <div class="gdlr-page-title-container container">
        <h1 class="gdlr-page-title">Đặt Phòng</h1>
    </div>
</div>
<div class="content-wrapper">
    <div class="gdlr-content">
        <div class="with-sidebar-wrapper">
            <div class="with-sidebar-container container gdlr-class-no-sidebar">
                <div class="with-sidebar-left twelve columns">
                    <div class="with-sidebar-content twelve columns">
                        <div class="gdlr-item gdlr-item-start-content" id="gdlr-single-booking-content">
                            <form class="gdlr-reservation-bar" id="gdlr-reservation-bar" data-action="gdlr_hotel_booking">
                                <div class="gdlr-reservation-bar-title">Đặt phòng của bạn</div>
                                <div class="gdlr-reservation-bar-summary-form gdlr-active" id="gdlr-reservation-bar-summary-form" style="display: block;">
                                    <div class="gdlr-price-summary-wrapper">
                                        <div class="gdlr-price-summary-head">Giá</div>
                                        <div class="gdlr-price-room-summary">
                                            <div class="gdlr-price-room-summary-title">Phòng 1 : Phòng Signature<span class="gdlr-price-room-summary-price" href="#">1,500,000.00 VND</span></div>
                                            <div class="gdlr-price-room-summary-info gdlr-title-font"><span>Người lớn : 2</span><span>Trẻ em : 0</span></div>
                                        </div>
                                        <div class="gdlr-price-summary-grand-total gdlr-active"><span class="gdlr-head">Tồng cộng</span><span class="gdlr-tail">1,500,000.00 VND</span></div>
                                        <div class="gdlr-price-deposit-wrapper">
                                            <div class="gdlr-price-deposit-input"><span class="gdlr-active"><label class="gdlr-radio-input"><input type="radio" name="pay_deposit" value="false" checked=""></label>Trả đầy đủ tiền</span><span><label class="gdlr-radio-input"><input type="radio" name="pay_deposit" value="true"></label>Trả 20% tiền</span></div>
                                            <div class="gdlr-price-deposit-inner-wrapper">
                                                <div class="gdlr-price-deposit-title">20% Deposit</div>
                                                <div class="gdlr-price-deposit-caption">*Trả đầy đủ tiền</div>
                                                <div class="gdlr-price-deposit-amount">383,300.00 VND</div>
                                            </div>
                                        </div>
                                        <a id="gdlr-edit-booking-button" class="gdlr-edit-booking-button gdlr-button with-border" href="#">Sửa đặt trước</a>
                                    </div>
                                </div>
                                <div class="gdlr-reservation-bar-room-form" id="gdlr-reservation-bar-room-form" style="display: none; height: auto;">
                                    <div class="gdlr-reservation-room gdlr-title-font ">
                                        <i class="fa fa-angle-double-right icon-double-angle-right"></i>
                                        <div class="gdlr-reservation-room-content">
                                            <div class="gdlr-reservation-room-title">Phòng 1 : Phòng Signature</div>
                                            <div class="gdlr-reservation-room-info"><span>Người lớn : 2</span><span>Trẻ em : 0</span><a data-room="1" class="gdlr-reservation-change-room" href="#">Change Room</a></div>
                                        </div>
                                        <input type="text" name="gdlr-room-id[]" value="3596">
                                    </div>
                                </div>
                                <div class="gdlr-reservation-bar-date-form" id="gdlr-reservation-bar-date-form" style="display: none;">
                                    <div class="gdlr-reservation-field gdlr-resv-datepicker">
                                        <span class="gdlr-reservation-field-title">Check In</span>
                                        <div class="gdlr-datepicker-wrapper"><input type="text" id="gdlr-check-in" class="gdlr-datepicker hasDatepicker" data-dfm="d M yy" value="2016-12-09"><input type="hidden" class="gdlr-datepicker-alt" name="gdlr-check-in" value="2016-12-09"></div>
                                    </div>
                                    <div class="gdlr-reservation-field gdlr-resv-combobox">
                                        <span class="gdlr-reservation-field-title">Night</span>
                                        <div class="gdlr-combobox-wrapper">
                                            <select name="gdlr-night" id="gdlr-night">
                                                <option value="1" selected="">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="gdlr-reservation-field gdlr-resv-datepicker">
                                        <span class="gdlr-reservation-field-title">Check Out</span>
                                        <div class="gdlr-datepicker-wrapper"><input type="text" id="gdlr-check-out" class="gdlr-datepicker hasDatepicker" data-dfm="d M yy" value="2016-12-10"><input type="hidden" class="gdlr-datepicker-alt" name="gdlr-check-out" value="2016-12-10"></div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="gdlr-reservation-field gdlr-resv-combobox">
                                        <span class="gdlr-reservation-field-title">Rooms</span>
                                        <div class="gdlr-combobox-wrapper">
                                            <select name="gdlr-room-number" id="gdlr-room-number">
                                                <option value="1" selected="">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="gdlr-reservation-people-amount-wrapper" id="gdlr-reservation-people-amount-wrapper">
                                        <div class="gdlr-reservation-people-amount">
                                            <div class="gdlr-reservation-people-title">Room <span>1</span></div>
                                            <div class="gdlr-reservation-field gdlr-resv-combobox">
                                                <span class="gdlr-reservation-field-title">Adults</span>
                                                <div class="gdlr-combobox-wrapper">
                                                    <select name="gdlr-adult-number[]">
                                                        <option value="1">1</option>
                                                        <option value="2" selected="">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="gdlr-reservation-field gdlr-resv-combobox">
                                                <span class="gdlr-reservation-field-title">Children</span>
                                                <div class="gdlr-combobox-wrapper">
                                                    <select name="gdlr-children-number[]">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="gdlr-reservation-bar-service-form" id="gdlr-reservation-bar-service-form"></div>
                                <input type="hidden" name="single-room" value="3596">
                            </form>
                            <div class="gdlr-booking-content">
                                <div class="gdlr-booking-process-bar" id="gdlr-booking-process-bar" data-state="3">
                                    <div data-process="1" class="gdlr-booking-process">1. Chọn Ngày</div>
                                    <div data-process="2" class="gdlr-booking-process">2. Chọn Phòng</div>
                                    <div data-process="3" class="gdlr-booking-process gdlr-active">3. Thực hiện đặt phòng</div>
                                    <div data-process="4" class="gdlr-booking-process">4. Xác nhận</div>
                                </div>
                                <div class="gdlr-booking-content-wrapper">
                                    <div class="gdlr-booking-content-inner" id="gdlr-booking-content-inner" style="opacity: 1; height: auto;">
                                        <div class="gdlr-booking-contact-container">
                                            <form class="gdlr-booking-contact-form" method="post" data-ajax="#">
                                                <p class="gdlr-form-half-left">
                                                    <span>Tên *</span>
                                                    <input type="text" name="first_name" value="">
                                                </p>
                                                <p class="gdlr-form-half-right">
                                                    <span>Họ *</span>
                                                    <input type="text" name="last_name" value="">
                                                </p>
                                                <div class="clear"></div>
                                                <p class="gdlr-form-half-left">
                                                    <span>Ngày Sinh *</span>
                                                    <input type="text" name="email" value="">
                                                </p>
                                                <p class="gdlr-form-half-right">
                                                    <span>Giới Tính *</span>
                                                    <input type="text" name="phone" value="">
                                                </p>
                                                <div class="clear"></div>
                                                <p class="gdlr-form-half-left">
                                                    <span>Email *</span>
                                                    <input type="text" name="email" value="">
                                                </p>
                                                <p class="gdlr-form-half-right">
                                                    <span>Điện thoại *</span>
                                                    <input type="text" name="phone" value="">
                                                </p>
                                                <div class="clear"></div>
                                                <p class="gdlr-form-half-left">
                                                    <span>Số CMND *</span>
                                                    <input type="text" name="email" value="">
                                                </p>
                                                <p class="gdlr-form-half-right">
                                                    <span>Mã giảm giá</span>
                                                    <input type="text" name="coupon" value="">
                                                </p>
                                                <div class="clear"></div>
                                                <p class="gdlr-form-half-left">
                                                    <span>Địa chỉ</span>
                                                    <textarea name="address"></textarea>
                                                </p>
                                                <p class="gdlr-form-half-right">
                                                    <span>Ghi chú</span>
                                                    <textarea name="additional-note"></textarea>
                                                </p>
                                                <div class="clear"></div>
                                               
                                                <div class="gdlr-error-message"></div>
                                                <a class="gdlr-button with-border gdlr-booking-contact-submit">Đặt phòng bằng email và chúng tôi sẽ liên lạc cho bạn.</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- gdlr-content -->
    <div class="clear"></div>
</div>