
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="gdlr-content">

        <!-- Above Sidebar Section-->
        <div class="above-sidebar-wrapper">
            <section id="content-section-1">
                <div class="gdlr-full-size-wrapper gdlr-show-all" style="padding-bottom: 0px;  background-color: #ffffff; ">
                    <div class="gdlr-item gdlr-content-item" style="margin-bottom: 0px;margin-left:auto;margin-right:auto;">
                        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyClmrqydei7qt1K4q_FBsG_OVIztzAFrCs'></script><div style='overflow:hidden;height:400px;width:1348px;'>
                            <div id='gmap_canvas' style='height:400px;width:1348px;'></div>
                            <style>
                                #gmap_canvas img {
                                    max-width: none !important;
                                    background: none !important;
                                }
                            </style>
                        </div> <a href='https://embed-map.org/' style="visibility:hidden;">google maps embed</a>
                        <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=5ccca7b400f8194beed21e6606877a1d424a731f'></script>
                        <script type='text/javascript'>
                            function init_map() {
                                var myOptions = {
                                    zoom: 12, center: new google.maps.LatLng(10.7850108, 106.68914840000002),
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                                marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(10.7850108, 106.68914840000002) });
                                infowindow = new google.maps.InfoWindow({
                                    content:
                                        '<strong>Victory Hotel  141 Nam Kỳ Khởi Nghĩa, Quận 3, TP. Hồ Chí Minh</strong><br> 141 Nam Kỳ Khởi Nghĩa, Quận 3, TP. Hồ Chí Minh<br> Hồ Chí Minh<br>'
                                }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker);
                            } google.maps.event.addDomListener(window, 'load', init_map);

                        </script>
                    </div><div class="clear"></div><div class="clear">
                    </div>
                </div><div class="clear"></div>
            </section>
        </div>

        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
            <div class="with-sidebar-container container">
                <div class="with-sidebar-left eight columns">
                    <div class="with-sidebar-content twelve columns">
                        <section id="content-section-2">
                            <div class="section-container container">
                                <div class="gdlr-item gdlr-content-item" style="margin-bottom: 60px;">
                                    <p>
                                    </p><div class="clear"></div><div class="gdlr-space" style="margin-top: -22px;"></div>
                                    <h5 class="gdlr-heading-shortcode " style="font-weight: bold;">ĐIỀN ĐẨY ĐỦ THÔNG TIN BÊN DƯỚI: </h5>
                                    <div class="clear"></div><div class="gdlr-space" style="margin-top: 25px;"></div>
                                    <div role="form" class="wpcf7" id="wpcf7-f3798-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="/lien-he/#wpcf7-f3798-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="3798">
                                                <input type="hidden" name="_wpcf7_version" value="4.5">
                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3798-o1">
                                                <input type="hidden" name="_wpnonce" value="313ae4d95d">
                                            </div>
                                            <p>
                                                Your Name (required)<br>
                                                <span class="wpcf7-form-control-wrap your-name">
                                                    <input type="text" name="your-name" value=""
                                                           size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                                                </span>
                                            </p>
                                            <p>
                                                Your Email (required)<br>
                                                <span class="wpcf7-form-control-wrap your-email">
                                                    <input type="email" name="your-email" value=""
                                                           size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                           aria-required="true" aria-invalid="false">
                                                </span>
                                            </p>
                                            <p>
                                                Your Message<br>
                                                <span class="wpcf7-form-control-wrap your-message">
                                                    <textarea name="your-message" cols="40" rows="10"
                                                              class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
                                                </span>
                                            </p>
                                            <p>
                                                <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit">@*<img class="ajax-loader"
                                                    src="https://vi.gkcentralhotel.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif"
                                                    alt="Sending ..." style="visibility: hidden; opacity: 1;">*@
                                            </p>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                </div><div class="clear"></div>
                            </div>
                        </section>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="gdlr-sidebar gdlr-right-sidebar four columns">
                    <div class="gdlr-item-start-content sidebar-right-item">
                        <div id="text-6" class="widget widget_text gdlr-item gdlr-widget">
                            <h3 class="gdlr-widget-title">– KHÁCH SẠN VICTORY –</h3><div class="clear"></div>			<div class="textwidget"></div>
                        </div><div id="text-7" class="widget widget_text gdlr-item gdlr-widget">
                            <h3 class="gdlr-widget-title">THÔNG TIN LIÊN HỆ</h3><div class="clear"></div>			<div class="textwidget">
                                <p><i class="gdlr-icon fa fa-map-marker" style="color: #444444; font-size: 16px; "></i> 141 Nam Kỳ Khởi Nghĩa, Quận 3, TP. Hồ Chí Minh       </p>
                                <p><i class="gdlr-icon fa fa-phone" style="color: #444444; font-size: 16px; "></i>+848 3823 8795</p>
                                <p><i class="gdlr-icon fa fa-envelope" style="color: #444444; font-size: 16px; "></i> info@gkcentralhotel.com  </p>
                                <p><i class="gdlr-icon fa fa-envelope" style="color: #444444; font-size: 16px; "></i> rsvn@gkcentralhotel.com</p>
                                <p><i class="gdlr-icon fa fa-clock-o" style="color: #444444; font-size: 16px; "></i> Giờ làm việc 9:00-17:00</p>
                            </div>
                        </div><div id="text-8" class="widget widget_text gdlr-item gdlr-widget">
                            <h3 class="gdlr-widget-title">Social Media</h3><div class="clear"></div>			<div class="textwidget">
                                <a href="http://facebook.com/goodlayers">
                                    <i class="gdlr-icon fa fa-facebook" style="color: #444444; font-size: 28px; ">
                                    </i>
                                </a> <a href="http://twitter.com/goodlayers">
                                    <i class="gdlr-icon fa fa-twitter" style="color: #444444; font-size: 28px; ">
                                    </i>
                                </a> <a href="#"><i class="gdlr-icon fa fa-dribbble" style="color: #444444; font-size: 28px; "></i></a> <a href="#">
                                    <i class="gdlr-icon fa fa-pinterest" style="color: #444444; font-size: 28px; "></i>
                                </a> <a href="#">
                                    <i class="gdlr-icon fa fa-google-plus" style="color: #444444; font-size: 28px; "></i>
                                </a> <a href="#">
                                    <i class="gdlr-icon fa fa-instagram" style="color: #444444; font-size: 28px; ">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- Below Sidebar Section-->
    </div><!-- gdlr-content -->
    <div class="clear"></div>
</div>
