@model VICTORY_HOTEL.Models.LOAIPHONG
@{
    ViewBag.Title = "Home";
}

<div id="gdlr-header-substitute"></div>
<!-- is search -->	<div class="content-wrapper">
    <div class="gdlr-content">
        <!-- Above Sidebar Section-->
        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
            <section id="content-section-1">
                <div class="gdlr-full-size-wrapper gdlr-show-all" style="padding-bottom: 0px;  background-color: #ffffff; ">
                    <div class="gdlr-master-slider-item gdlr-slider-item gdlr-item" style="margin-bottom: 0px;">
                        <!-- MasterSlider -->
                        <div id="P_MS584a766b639d8" class="master-slider-parent ms-parent-id-2">
                            <!-- MasterSlider Main -->
                            <div id="MS584a766b639d8" class="master-slider ms-skin-default">
                                <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_02.jpg" alt="" title="" style="visibility: visible !important;" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_04.jpg" alt="" title="" style="visibility: visible !important;" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_01.jpg" alt="" title="" style="visibility: visible !important;" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_05.jpg" alt="" title="gk_central_hotel_05" style="visibility: visible !important;" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_03.jpg" alt="" title="gk_central_hotel_03" style="visibility: visible !important;" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_06.jpg" alt="" title="gk_central_hotel_06" style="visibility: visible !important;" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_07.jpg" alt="" title="gk_central_hotel_07" style="visibility: visible !important;" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_9.jpg" alt="" title="gk_central_hotel_9" style="visibility: visible !important;" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Images/gk_central_hotel_10.jpg" alt="" title="gk_central_hotel_10" style="visibility: visible !important;" />
                                </div>

                            </div>
                            <!-- END MasterSlider Main -->
                        </div>
                        <!-- END MasterSlider -->
                        <script>
                            (window.MSReady = window.MSReady || []).push(function ($) {

                                "use strict";
                                var masterslider_39d8 = new MasterSlider();

                                // slider controls
                                masterslider_39d8.control('arrows', { autohide: true, overVideo: true });
                                masterslider_39d8.control('bullets', { autohide: false, overVideo: true, dir: 'h', align: 'bottom', space: 8, margin: 25 });
                                // slider setup
                                masterslider_39d8.setup("MS584a766b639d8", {
                                    width: 1140,
                                    height: 357,
                                    minHeight: 0,
                                    space: 0,
                                    start: 1,
                                    grabCursor: true,
                                    swipe: false,
                                    mouse: true,
                                    keyboard: false,
                                    layout: "fullwidth",
                                    wheel: false,
                                    autoplay: true,
                                    instantStartLayers: false,
                                    loop: true,
                                    shuffle: false,
                                    preload: 0,
                                    heightLimit: true,
                                    autoHeight: false,
                                    smoothHeight: true,
                                    endPause: false,
                                    overPause: true,
                                    fillMode: "fill",
                                    centerControls: true,
                                    startOnAppear: false,
                                    layersMode: "center",
                                    autofillTarget: "",
                                    hideLayers: false,
                                    fullscreenMargin: 0,
                                    speed: 20,
                                    dir: "h",
                                    parallaxMode: 'swipe',
                                    view: "fadeFlow"
                                });

                                MSScrollParallax.setup(masterslider_39d8, 30, 50, true);
                                window.masterslider_instances = window.masterslider_instances || [];
                                window.masterslider_instances.push(masterslider_39d8);
                            });
                        </script>

                    </div><div class="clear"></div><div class="clear"></div>
                </div><div class="clear"></div>
            </section>
            <section id="content-section-2">
                <div class="gdlr-parallax-wrapper gdlr-background-pattern gdlr-show-all no-skin" id="gdlr-parallax-wrapper-1" style="background-image: url(&#39;https://vi.gkcentralhotel.com/wp-content/themes/hotelmaster/images/pattern/pattern-1.png&#39;); padding-top: 80px; padding-bottom: 10px; ">
                    <div class="container">
                        <div class="gdlr-item-title-wrapper gdlr-item pos-center gdlr-nav-container ">
                            <div class="gdlr-item-title-head">
                                <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">LOẠI PHÒNG</h3>
                                <div class="gdlr-item-title-carousel">
                                    <i class="icon-angle-left gdlr-flex-prev">
                                    </i><i class="icon-angle-right gdlr-flex-next"></i>
                                </div><div class="clear">
                                </div>
                            </div>
                        </div>
                        <div class="room-item-wrapper type-modern">
                            <div class="room-item-holder ">
                                <div class="gdlr-room-carousel-item gdlr-item">
                                    <div class="flexslider" data-type="carousel" data-nav-container="room-item-wrapper" data-columns="3">
                                        <div class="clear"></div>
                                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                            <ul class="slides" style="width: 800%; margin-left: 0px;">
                                                @foreach (VICTORY_HOTEL.Models.LOAIPHONG c in ViewBag.LoaiPhong)
                                                {
                                                <li class="gdlr-item gdlr-modern-room" style="width: 350px; float: left; display: block;">
                                                    @foreach (var p  in c.MOTA_PHONG.Skip(3).Take(1))
                                                    {
                                                    <div class="gdlr-room-thumbnail">
                                                        <a href="/LoaiPhong/ChiTiet/@c.MaLP"><img src="~/Images/@p.Ten_MoTa" alt="" width="600" height="400" draggable="false"></a>
                                                    </div>
                                                    }
                                                    <h3 class="gdlr-room-title"><a href="/LoaiPhong/ChiTiet/@c.MaLP">@c.TenLoaiPhong.ToUpper()</a></h3><div class="clear"></div>
                                                    <a href="/LoaiPhong/ChiTiet/@c.MaLP" class="gdlr-room-detail">Check Details<i class="fa fa-long-arrow-right icon-long-arrow-right"></i></a>
                                                </li>
                                                }
                                                

                                            </ul>
                                        </div>
                                    </div>
                                </div><div class="clear"></div>
                            </div>
                        </div><div class="clear"></div><div class="clear"></div>
                    </div>
                </div><div class="clear"></div>
            </section>
            <section id="content-section-4">
                <div class="gdlr-color-wrapper  gdlr-show-all gdlr-skin-dark-testimonial" style="background-color: #3d2110; padding-top: 80px; padding-bottom: 45px; ">
                    <div class="container">
                        <div class="gdlr-item-title-wrapper gdlr-item pos-center "><div class="gdlr-item-title-head"><h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">THÀNH VIÊN</h3><div class="clear"></div></div></div><div class="gdlr-item gdlr-content-item">
                            <p style="text-align: center;"><img class="alignnone size-full wp-image-4364" src="~/Images/diamon.png" alt="diamon" width="129" height="30" style="opacity: 1;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img class="alignnone size-full wp-image-4365" src="~/Images//gk.png" alt="gk" width="50" height="30" style="opacity: 1;">&nbsp; &nbsp;&nbsp;&nbsp;<img class="alignnone size-full wp-image-4367" src="~/Images//savoure.png" alt="savoure" width="104" height="30" style="opacity: 1;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img class="alignnone size-full wp-image-4366" src="~/Images//pandanus.png" alt="pandanus" width="104" height="30" style="opacity: 1;"></p>
                        </div><div class="clear"></div><div class="clear"></div>
                    </div>
                </div><div class="clear"></div>
            </section>
        </div>
        <!-- Below Sidebar Section-->
    </div><!-- gdlr-content -->
    <div class="clear"></div>
</div><!-- content wrapper -->