html, body { font-size: 100%; }
.caption { display: none; }
.alt { left: -9999px; position: absolute; font-style: italic; line-height: inherit; }
.row { width: 100%; max-width: 1280px; margin: 0 auto; padding: 0 15px; position: relative; }
    .row:before, .row:after { content: " "; display: table; }
    .row:after { clear: both; }
    .row .row { width: auto; margin-left: -0.4375rem; margin-right: -0.4375rem; margin-top: 0; margin-bottom: 0; max-width: none; *zoom: 1; }
        .row .row:before, .row .row:after { content: " "; display: table; }
        .row .row:after { clear: both; }
.CancelModifyLink { display: none; }
.footer-menu { margin: 0 15px 20px 15px; border-top: 1px solid #939598; padding-top: 20px; }
    .footer-menu .footer-nav { text-align: center; }
        .footer-menu .footer-nav ul { list-style: none; display: inline-block; }
            .footer-menu .footer-nav ul li { float: left; }
                .footer-menu .footer-nav ul li a { text-decoration: none; color: #444444; }
                    .footer-menu .footer-nav ul li a:hover { text-decoration: underline; }

@media only screen and (max-width: 900px) {
    .row { padding: 0 10px; }
}

@media only screen and (min-width: 601px) {
    .large-2 { position: relative; width: 167px; }
}

.to-toplink { display: block; position: fixed; bottom: -50px; right: 15px; text-align: center; font-size: 24px; line-height: 50px; height: 50px; width: 50px; border-radius: 3px; z-index: 100; opacity: 0; -webkit-transition: background-color .25s ease, opacity .25s ease, bottom .25s ease; -moz-transition: background-color .25s ease, opacity .25s ease, bottom .25s ease; transition: background-color .25s ease, opacity .25s ease, bottom .25s ease; background-color: rgba(0,0,0,0.4); color: #fff; }
    .to-toplink:hover, .to-toplink:focus { color: #fff; }
    .to-toplink.active { bottom: 15px; opacity: 1; }
        .to-toplink.active:hover, .to-toplink.active:focus { background-color: rgba(0,0,0,0.6); color: #fff; }
    .to-toplink i { line-height: inherit; }


.fixed { width: 100%; left: 0; position: fixed; top: 0; z-index: 100; }

.header { width: 100%; }
.header-strip { background-color: #3b3b3b; font-size: 0.8125rem; color: white; padding: 0; display: none; text-align: center; }

@media only screen and (min-width: 47.063em) and (max-width: 64em) {
    .header-strip { padding: 0 2.5%; }
}

.header-strip .contact-items { display: inline-block; line-height: 2.25rem; text-align: center; width: auto; font-size: 13px; }

    .header-strip .contact-items.for_phone { position: relative; padding-left: 0.4375rem; padding-right: 0.4375rem; display: inline-block; }

    .header-strip .contact-items .fa { opacity: 0.5; }

.header-strip a, .header-strip a:hover { color: white; text-decoration: none; }

.header-main { background-color: white; border-bottom: 1px solid #000000; }

.logo { text-align: left; padding: 10px 0; }
    .logo img { max-width: 100%; width: auto; height: auto; }
.menu-trigger { font-size: 21px; position: absolute; right: 15px; top: 32px; color: black; }

nav.primary { display: none; }

#primary-nav { list-style: none; margin: 0; padding: 0; }
    #primary-nav li { border-bottom: 1px solid #eee; position: relative; margin: 0; }

@media only screen and (min-width: 64.063em) {
    .large-2 { float: left; }
    nav.primary { float: right; position: relative; right: 30px; }
    #primary-nav { margin-top: .25rem; float: right; }
        #primary-nav li { float: left; border: none; }
}

#primary-nav li > a { text-decoration: none; display: inline-block; padding: 10px 0; font-size: 14px; text-transform: uppercase; color: black; font-family: "PT Sans","Helvetica Neue","Helvetica",sans-serif; }

@media only screen and (min-width: 64.063em) {
    #primary-nav li > a { font-size: 16px; padding: 29px 12px; }
}

@media only screen and (min-width: 64.063em) {
    #primary-nav li:hover > a { color: white; background: #000000; -webkit-transition: all 125ms ease; -moz-transition: all 125ms ease; transition: all 125ms ease; }
}


.wrapper { position: relative; }

@media only screen and (max-width: 47em) {
    .wrapper .header { position: relative; }
}

.content { margin-top: 120px; padding: 0; position: static; }

@media only screen and (max-width: 600px) {
    .header-strip { display: block; }
    .small-12 { display: block; width: 167px; margin: 0 auto; }
    .content { margin-top: 150px; }
    .footer-menu { margin: 0 15px 150px 15px; }
}

@media only screen and (max-width: 600px) {
    .footer-menu .footer-nav ul li { float: none; }
        .footer-menu .footer-nav ul li:nth-child(even) { display: none; }
}

@media only screen and (max-width: 280px) {
    .footer-menu { display: none; }
}
.HeaderImage {max-width: 350px;}
@media only screen and (max-width: 768px) {.HeaderImage {max-width: 40%;}}
@media only screen and (max-width: 600px) {.HeaderImage {max-width: 100%;}}

.PkgImgDiv{max-width: 350px;}
@media only screen and (max-width: 768px) {.PkgImgDiv {max-width: 40%;}}
@media only screen and (max-width: 600px) {.PkgImgDiv {max-width: 100%;}}


.PackageList { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; } 
.PackageList::after { clear: both; content: ""; display: table; } 
.PackageItem { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-basis: auto; flex-basis: auto; width: calc(100% / 3); padding: 10px; margin: 0; } 
.msie9 .PackageItem { float: left; display: block; } 
.PackageItemInner { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; -moz-box-flex: 1; -webkit-flex-grow: 1; flex-grow: 1; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; width: 100%; } 
.msie9 .PackageItemInner { display: block; height: 100%; } 
.PkgImgDiv { position: relative; -webkit-flex-shrink: 0; flex-shrink: 0; max-width: 100% !important; } 
.PkgItemContent { -ms-flex-preferred-size: auto; } 

@media screen and (min-width: 901px) { 
.msie .HotelContainer, .msie .ProductContainer, .msie .PackageItem, .msie .HotelContainer { width: calc(99.9%/3); } 
} 

@media screen and (max-width:900px) { 
.PackageItem, .msie9 .PackageItem { width: 50%; } 
} 

@media screen and (max-width:600px) { 
.PackageList { display: block; } 
.PackageItem, .msie9 .PackageItem { width: 100%; } 
}

.Policies.tSmall.tLight.Mrgn2 { text-decoration: underline;}
.ProductPolicies.Mrgn3 {text-decoration: underline;}