@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

/* HotelREZ BASE File Version: 1.0 Last Modified: 
HEX: #000000 = black
HEX: #AEDFE4 = blue
HEX: #f0f0f0 = light gray
HEX: #50B2BD = darker blue
/* General */

html { font-size: 14px; }

body { background: #FFF; color: #3b3b3b; font-family: "PT Sans","Helvetica Neue","Helvetica",sans-serif; line-height: 1.5; }

.hSize1, .hSize2, .hSize3, .hSize4 { color: #444; }

a { color: #000000; text-decoration: underline; }

    a:hover { color: #000000; text-decoration: none; }

    a.inherit { color: #3b3b3b; text-decoration: none; }

/* end General */


/* Text & Headers */

.tLight { color: #3b3b3b; }

.hCollpase .ToggleArrowDiv_Off + span::before { color: #000000; }

.hCollpase .ToggleArrowDiv_On + span::before { color: #000000; }

.Bg4 .hCollpase .ToggleArrowDiv_Off + span::before, .Bg4 .hCollpase .ToggleArrowDiv_On + span::before, .Bg4 .shCollpase .ToggleArrowDiv_Off + span::before, .Bg4 .shCollpase .ToggleArrowDiv_On + span::before { color: #FFF; }

/* end Text & Headers */


/* Icons */

.openModal::before, .FilterLinkInActive::before, .FilterLinkActive::before, .CloseBtnX::before, .modifyIco::before, .removeIco::before, .MonthlyAvailabilityLink::after, .ArrowTop::before, .DateBack .activeLink::before, .ShopCartIco::before, .calendarIco::before, .printIco::before { color: #000000; }

.infoIco::before, .infoIcoAfter::after, .ProductNamePromo .PromoIcon::before, .Asterisk::before, .DateFwd .activeLink::before, .removeIco::after { color: #000000; }

.ProductNamePromo .PromoIcon::before { color: #000000; }

.FilterClose::after, .CompareClose::after { color: #000000; }

.openModal, .FilterLinkInActive, .FilterLinkActive, .CloseBtnX, .modifyIco, .removeIco, .MonthlyAvailabilityLink, .ArrowTop, .DateBack .activeLink, .ShopCartIco, .calendarIco, .printIco, .infoIco, .infoIcoAfter, .ProductNamePromo .PromoIcon, .Asterisk, .DateFwd .activeLink, .removeIco, .FilterClose, .CompareClose { text-decoration: none !important; }

/* end Icons */


/* Backgrounds & Borders */

.Bg1 { background: #EFEFEF; }

.Bg2 { background: #ededed; }

.Bg3 { background: #e9e9e9; }

.Bg4 { background: #424242; color: #FFF; }

.Bg5 { background: #000000; color: #FFF; }

.Bg6, .ui-widget-content { background: #ffffff; }

.Bg7 { background: #ededed; background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); }

.Br1 { border-color: #DDDDDD; }

.Br2 { border-color: #E5E2DE; }

.Br3 { border-color: #000000; }


/* end Backgrounds & Borders */


/* Form Fields */

input[type=text], input[type=number], input[type=email], input[type=password], input[type=tel], textarea, select { color: #000000; background: #efefef; border: 0; font-family: "PT Sans","Helvetica Neue","Helvetica",sans-serif; color: #000000; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

input[type="text"].CodesInput { background: #FFFFFF; }

.calendars-wrapper, .selectWrap { background: #efefef; }

    .selectWrap::before { color: #999; }

.checkboxGroup input[type=checkbox] + label::before, .radiobuttonGroup input[type="radio"] + label::before,
.checkboxGroup td.unchecked + td label::before, .checkboxGroup td.checked + td label::before,
.checkboxGroup .unchecked + label::before, .checkboxGroup .checked + label::before { color: #999; }

.LangDiv .selectWrap select, .CurrencyDiv .selectWrap select, .ResActionsDiv .selectWrap select { -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

/* end Form Fields */


/* Buttons */

.btnSt1, .btnSt2, .btnSt3, .btnSt4 { text-decoration: none; font-family: "PT Sans","Helvetica Neue","Helvetica",sans-serif; color: #FFF; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.btnSt1 { background: #000000; border: 2px solid #000000; }

    .btnSt1:hover { background: #000000; }

.btnSt2 { background: #000000; border: 2px solid #000000; }

    .btnSt2:hover { background: #000000; }

.btnSt3, .ReviewBtn { background: #000000; border: 2px solid #000000; }

    .btnSt3:hover, .ReviewBtn:hover { background: #414141; }

.btnSt4 { background: #484848; background-image: -webkit-linear-gradient(#484848, #222); background-image: linear-gradient(#484848, #222); border: 2px solid #3b3b3b; font-size: 1rem; text-transform: uppercase; }

    .btnSt4:hover { background: #414141; }

a.btnSt1:hover, a.btnSt2:hover, a.btnSt3:hover, a.btnSt4:hover, .backBtn::before, .checkboxGroup .btnSt2 label::before { color: #FFF !important; }

/* end Buttons */

/* jQuery UI */

    /* Button styles default status. Datepicker and Popup close, dialog buttons; price slider handlers. Use same colors as BE btnSt3 and btnSt4 buttons */
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #000; background: #000; color: #fff; }
        .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #fff; }
        .ui-state-default .ui-icon { background-image: url("/chain/19159/images/shell/ui-icons_FFFFFF_256x240.png"); }

    /* Button Styles hover */
    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #000; background: #000; color: #fff; }
        .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited { color: #fff; }
        .ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url("/chain/19159/images/shell/ui-icons_FFFFFF_256x240.png"); }

    /* Button Styles active */
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #000; background: #000; color: #fff; }
        .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #fff; }
        .ui-state-active .ui-icon { background-image: url("/chain/19159/images/shell/ui-icons_FFFFFF_256x240.png"); }

/* end jQuery UI */


/* Datepicker dates and selected date */

.calendars-popup td a.ui-state-default, .calendars-popup td a.ui-state-hover { border: 1px solid #DDDDDD; color: #3b3b3b; }

.calendars-popup td a.ui-state-active, .calendars-popup td a.ui-state-active:hover { border: 1px solid #3b3b3b; background: #3b3b3b; color: #FFF; }

.CalendarDiv .ui-state-active, .CalendarDiv a.ui-state-active { border: 3px solid #3b3b3b; }

/* end Datepicker dates and selected date */


/* Calendar Color Codes

.CalendarDiv .BECalOpen, .CalendarDiv a.BECalOpen, .CalendarDiv .ui-state-default { background: #288c4f; color: #FFF; border: 0; }

.CalendarDiv .BENoAvail, .CalendarDiv a.BENoAvail { background-color: #ececec; background-image: url(/hotel/HOTELID/images/shell/noavail.png); color: #3b3b3b; border: 0; }

.CalendarDiv .BEMinLen, .CalendarDiv a.BEMinLen { background: #81d9a3; color: #FFF; border: 0; }

.CalendarDiv .BENoArrive, .CalendarDiv a.BENoArrive { background: #55b37a; color: #FFF; border: 0; }

end Calendar Color Codes */


/* Hotel customizations */

.HeaderShortDesc, .ProductShortDesc { display: none !important; }


.fieldDiv label, .StayLabel, .Dates span, .resTotal span { text-transform: uppercase; }

.PkgOptBtnsTop, .PckOptBtnsBtm { float: right; clear: right; } { display: none; }

.PkgBtmNoThxBtn, .PkgTopNoThxBtn { float: left; line-height: 55px; text-transform: none; background: none; color: #000000; border: 0; padding: 0; -webkit-text-shadow: none; -moz-text-shadow: none; -ms-text-shadow: none; -o-text-shadow: none; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; }

    .PkgBtmNoThxBtn:hover, .PkgTopNoThxBtn:hover { background: none; color: #000000; text-decoration: underline; }

.PkgOptBtnsTop .PkgTopContBtn, .PckOptBtnsBtm .PkgTopContBtn { margin: 0; }

.PkgInst { float:left; clear: left; }

.checkboxGroup input[type="checkbox"] + label::before, .radiobuttonGroup input[type="radio"] + label::before, .checkboxGroup td.unchecked + td label::before, .checkboxGroup td.checked + td label::before, .checkboxGroup .unchecked + label::before, .checkboxGroup .checked + label::before { top: -4px; }

.ProductsInCategory:before { color: #e9e9e9; content: "\e834"; font-family: icons; font-size: 80px; left: 50%; line-height: 1; position: absolute; top: -48px; -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); }

.ProductSorting { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.PackageList { position: relative; }

    .PackageList:before { color: #e9e9e9; content: "\e834"; font-family: icons; font-size: 80px; left: 20px; line-height: 1; position: absolute; top: -48px; }

.StepName .backBtn { vertical-align: bottom; }

.PackageCheck .unchecked + label { padding: 0; }

    .PackageCheck .unchecked + label:before { content: ""; }

.PackageCheck .checked + label:before { top: 0; }

.HotelNameAddress { display: none; }

.StrikeOut { color: #d92400; }

.AdditionalDetailsHeader { border: 0 !important; background: none !important; margin: 0px; }
    .AdditionalDetailsHeader h3.hCollpase { text-transform: uppercase; font-size: 1.85rem; font-weight: 400; border-top: 1px solid #E5E2DE; padding-top: 15px; }
        .AdditionalDetailsHeader h3.hCollpase span.hSize4 { text-transform: uppercase; font-size: 1.85rem; font-weight: 400; }
        .AdditionalDetailsHeader h3.hCollpase span.hSize4::before { display: none; }

/* Hotel customizations */


/* Stay Bar */

.StayBar { clear: both; border-width: 1px 0; padding-left: 0; padding-right: 0; position: relative; padding-right: 45px; min-height: 50px; }
.AvailResults .StayBar { padding-right: 100px; }
.StayBar .Dates, .StayBar .Guests { display: inline-block; padding-right: 15px; vertical-align: middle; }
    .StayBar .Guests div { display: inline; padding: 0; float: none; }
    .StayBar .Guests .StayLabel, .StayBar .Guests .StayLabel span { font-weight: bold; }
        .StayBar .Guests .StayLabel:after { content: ": "; }
    .StayBar .Guests .MultiRoomGuests .StayValue:after { content: ", "; }
    .StayBar .Guests .MultiRoomGuests .StayValue:last-child:after { content: ""; }
.StayBar .ModifyLink { display: inline-block; border-width: 0 0 0 1px; padding-left: 15px; position: absolute; top: 15px; right: 15px; bottom: 15px; min-height: 20px; }
    .StayBar .ModifyLink a { text-decoration: none; vertical-align: top; }
.arrowDown:before { font-family: icons; content: "\e832"; font-size: 1.5rem; line-height: 1rem; vertical-align: middle; }
.arrowUp:before { font-family: icons; content: "\e831"; font-size: 1.5rem; line-height: 1rem; vertical-align: middle; }
.YourStayHeader, .YourStayCheckout .YourStayHeaderCheckout { display: none; }
.YourStay.Open .CloseBtnX { top: -20px; }
.YourStay.Closed, .YourStayStatic.Closed, .YourStayCheckout.Closed { display: none; }
.YourStayCheckout .YourStay { display: block !important; }

/* end Stay Bar */



/* Tablet */

@media screen and (max-width: 900px) {

    .CalwPrice .ui-datepicker td a, .CalwPrice .ui-datepicker td span { padding: 8px 3px; }
    .CalwPrice td a.ui-state-active { padding: 5px 1px; }
    .CalwPrice .ui-datepicker td span.DayPrice { font-size: 11px; }
}

/* end Tablet */

@media screen and (max-width: 730px) {
    .CalwPrice .ui-datepicker-multi .ui-datepicker-group.first, .CalwPrice .ui-datepicker-multi .ui-datepicker-group.last { padding: 0 20px; width: 100%; }
}


/* Mobile */

@media screen and (max-width: 600px) {

    .CalwPrice .ui-datepicker td a, .CalwPrice .ui-datepicker td span { height: auto; }
        .CalwPrice .ui-datepicker td span.DayPrice { display: none; }
    .CalwPrice .ui-datepicker td a, .CalwPrice .ui-datepicker td span { padding: 15px 5px; text-align: center; }
    .CalwPrice td a.ui-state-active { padding: 12px 3px; }

    .PkgOptBtnsTop { display: none; }
    .PckOptBtnsBtm { background: #fff; margin: 0; padding: 10px; z-index: 100; position: fixed; bottom: 0; right: 0; left: 0; }
    .PckOptBtnsBtm { text-align: center; }
    .PkgBtmNoThxBtn, .PkgBtmNoThxBtn:hover { width: auto; display: inline-block; line-height: 2; }

    .CriteriaBtnDiv { position: fixed; bottom: 0; left: 0; right: 0; background: #FFF; padding: 10px; margin: 0; z-index: 100; }
    .CriteriaBtn { margin: 0; }

    .YourStayHeader, .YourStayCheckout .YourStayHeaderCheckout { display: block; }
    .YourStay.Closed .YourStayHeader { display: none; }
    .YourStay.Open .CloseBtnX { top: 15px; }
    .StayBar .ModifyLink { padding-left: 10px; right: 10px; top: 10px; bottom: 10px; }

    .StepName .backBtn { position: absolute; top: 65px; z-index: 101; }
}

/* end Mobile */

/* Temp fixes */
.ui-dialog-buttons, .calendars-popup { height: auto !important; }
a.openModal:hover, a.FilterLinkInActive:hover, a.FilterLinkActive:hover, a.backBtn:hover, a.CloseBtnX:hover, a.modifyIco:hover, a.removeIco:hover, a.infoIco:hover, a.infoIcoAfter:hover, .DateBack .activeLink:hover, .DateFwd .activeLink:hover, .ShopCartIco:hover, .calendarIco:hover, .printIco:hover { text-decoration: none !important; }
.RtrnHotelList { clear: both; }
.YourStay.Closed, .YourStayStatic.Closed, .AvailPackages .YourStay.Closed, .YourStayCheckout.Closed { clear: both; }
#XbeViewPanel:after { display: table; clear: both; content: ""; }
.PkgImg { -webkit-flex-shrink: 0; flex-shrink: 0; }
